# Python Bytecode
*.pyc
*.pyo
__pycache__/

# Virtual Environment
venv/

# Django Migrations
*/migrations/*.py
!*/migrations/__init__.py

# SQLite Database
db.sqlite3

# Environment Variables
.env

# Logs
*.log

# Static and Media Files (if applicable)
static/
media/

# macOS System Files
.DS_Store

# Windows System Files
Thumbs.db
desktop.ini
